# Python.
.mypy_cache/
.venv/
__pycache__/
.coverage
cloned_repos/
.pytest_cache/
py_coverage_html/
*.deps.txt
requirements.txt

# Mac OS.
.DS_Store

# Node.
node_modules/
dist/

# Data to ignore.
/data
demo_data/
datasets/
models/gguf/*.gguf
# Artifacts from integration test data.
test_data/

# Ignore pickled concept models.
data/concept/**/*.pkl

# Env
.env.local
/web/*/coverage

# Typescript.
tsconfig.tsbuildinfo

.tmp/
.cache/

# User configurations and local logs
lilac.yml
test_logs.txt
